@special-blue:#3498db;
#navbar{
    background-color:#17da91;
	.navbar-toggle{
     display:inline; 
    } 
    .push_menu{
        margin-top:25px;    
    }
    .nav_img{  
        width:70px;
        height:57px;
        padding-right:10px;
    }
#logo {
    color:white;;
    font-family:'Pacifico',cursive;
    font-size:2em;
    border:solid 3px @special-blue;
    background-color:@special-blue;
    margin-right:-16px;
}
@media only screen and (max-width:767px){
    #logo {
        color:@special-blue;
        border:none;
        position:absolute;
        top:0;
        left:-3px;
        background-color:inherit;  
    }
 }
}
#mainpage_wrapper {
    padding-left:100px;
}
